.logo {
  padding-left: 10px;
  display: inline;
}

.logo-letters {
  display: inline;
  font-family: "Aclonica";
  width: 240px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 200;
}

.h1-span {
  font-weight: 800;
  font-size: small;
}

header {
  height: 67px;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.966);
}

nav {
  display: inline;
  float: right;
  margin-top: 40px;
  margin-right: 450px;
  letter-spacing: 2px;
}

nav li {
  display: inline;
  padding: 15px;
}
