@media screen and (max-width: 768px) {
  html {
    width: 100%;
  }

  header {
    max-width: 100%;
  }

  #ejemplos {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .ejemplos {
    height: 200px;
    width: 100px;
  }

  .hero {
    width: 100%;
    height: 40vh;
  }

  .geo-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 170px;
  }

  .map {
    @extend iframe;
    margin-left: 0px;
    padding-right: unset;
    margin-bottom: 10px;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    font-size: 9px;
    padding-left: 0;
  }

  nav ul li {
    letter-spacing: 0px;
    max-width: 100%;
  }

  .logo-letters {
    width: 30px;
    font-size: 15px;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav {
    max-width: 100%;
    margin: unset;
  }

  .videos-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .videos {
    max-width: 100%;
  }

  .pictures img {
    max-width: 100%;
    padding-left: unset;
  }

  #work-team {
    max-width: 100%;
  }

  .our-tech {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .our-tech img {
    max-width: 90%;
    padding: 5px;
    margin-left: 19px;
  }

  .about-us-video video {
    max-width: 100%;
  }

  .cards-container-custom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .hire-us-main {
    height: 2350px;
    width: 100%;
  }

  div h3 {
    font-size: 10px;
  }

  .footer-logos {
    flex-direction: column;
    margin: unset;
  }

  .footer-container {
    align-items: center;
    text-align: center;
  }

  .footer-container p {
    margin: unset;
    font-size: 10px;
  }

  .footer-container img {
    margin: unset;
  }

  .footer-container h3 {
    padding: 10px;
  }

  #contacto-footer {
    padding: 15px;
  }

  .geo-text {
    padding: unset;
    font-size: 10px;
    max-width: 100%;
  }

  h2.logo-letters {
    padding: unset;
    font-size: 7px;
  }

  .h1-span {
    font-size: 7px;
  }

  img.logo {
    padding: unset;
    width: 30px;
    height: 30px;
  }

  .geo-text ul {
    padding: unset;
  }

  .contact-logos {
    padding: 50px;
  }

  .contact-logos p {
    padding: unset;
  }

  p {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .ansel {
    padding-left: 135px;
  }

  #muestrasMain {
    height: auto;
  }

  #clickHereBtn {
    color: white;
    margin-left: unset;
  }

  #phoneNumber {
    margin-left: unset;
  }

  .input {
    width: 270px;
  }

  #contactoMain {
    height: 780px;
  }
}

@media screen and (max-width: 357px) {
  nav li {
    padding: 7px;
  }
}
