#nosotrosMain {
  margin-top: 65px;
  background-image: linear-gradient(
    black,
    rgb(27, 27, 27),
    rgb(99, 89, 63),
    rgb(88, 80, 53),
    rgb(131, 109, 50)
  );
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us img {
  justify-content: center;
  margin: 10px;
  border-color: white;
  border-radius: 20px;
  border-style: double;
  width: 1314px;
  height: 410px;
}

.our-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.our-tech img {
  padding: 5px;
  margin-left: 19px;
  border-radius: 15px;
}

.about-us-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-us-video video {
  width: 763px;
  height: 402px;
}

.our-tech-p {
  text-align: center;
  margin-top: 40px;
}
